server:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      routes:
        - id: auth-service
          uri: http://localhost:8081
          predicates:
            - Path=/auth/**

        - id: post-service
          uri: http://localhost:8082
          predicates:
            - Path=/posts/**
    
        - id: engagement-service
          uri: http://localhost:8083
          predicates:
            - Path=/likes/**,/comments/**,/follow/**


jwt:
  secret: 8f7d9c3e2a1b4c6d9e0f8a7b6c5d4e3f
