server:
  port: 8082

spring:
  application:
    name: post-service

  datasource:
    url: jdbc:postgresql://localhost:5432/postdb
    username: postgres
    password: postgres

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
