server:
  port: 8083

spring:
  application:
    name: engagement-service

  datasource:
    url: jdbc:postgresql://localhost:5432/engagementdb
    username: postgres
    password: postgres

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
