server:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      routes:
        - id: auth-service
          uri: http://localhost:8081
          predicates:
            - Path=/auth/**

jwt:
  secret: 8f7d9c3e2a1b4c6d9e0f8a7b6c5d4e3f
